__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
build/
dist/
*.egg-info/
.eggs/
local_settings.py
db.sqlite3
*.sqlite3
*.sqlite3-journal
media/
staticfiles/
.env
.env.*
venv/
venv*/
ENV/
env/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~
.DS_Store
Thumbs.db
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
.git
docker-compose.override.yml
pip-log.txt
pip-delete-this-directory.txt
!Dockerfile
!requirements.txt
