@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'Fredoka';
    background-color: #0d1017;
    color: #fafafa;
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 450;
}

.h-align {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.metric {
    display: flex;
    gap: 5px;
    flex-direction: row;
}