@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'Fredoka';
    background-color: #070707;
    color: #fafafa;
    font-weight: 400;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 450;
}

.h-align {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.metric {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.metric i {
    display: inline-flex;
    align-items: center;
}

.btn {
    border: none;
    background: transparent;
    color: #fafafa;
}

.upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
}