@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'Jetbrains Mono';
    background-color: #070707;
    color: #fafafa;
}

h1 {
    font-weight: 500;
}

li::marker {
    display: none !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}