{%extends 'template.html'%}
{%load static%}
{%block title%}Dashboard{%endblock%}
{%block css%}<link rel="stylesheet" href="{%static 'dashboard/css/dashboard.css'%}">{%endblock%}
{%block script%}<script src="{%static 'dashboard/js/dashboard.js'%}"></script>{%endblock%}
{%block content%}
<div class='center'>
    <h1>Dashboard</h1>
</div>
{% if ssh_info %}
    <div class="ssh-info">
        <p>Hostname: {{ ssh_info.hostname }}</p>
        <p>Username: {{ ssh_info.username }}</p>
        <p>Port: {{ ssh_info.port }}</p>
    </div>
{% else %}
    <p>No SSH connection information available.</p>
{% endif %}
{%endblock%}